<%- include('partials/header') %> <%- include('partials/sidebar') %>
  <h1 class="display-5 text-center">Detail of game: <%= videogameDetail._id %></h1>
  <div class="card mx-auto shadow-sm" style="width: 400px">
    <img
      src="https://sm.ign.com/ign_es/game/c/cyberpunk-/cyberpunk-2077_ygyu.jpg"
      alt="vidya-card"
      class="card-img-top"
    />
    <div class="card-body text-center">
        <h4 class="card-title "><%= videogameDetail.name %></h4>
        <h5><%= videogameDetail.publisher %></h5>
        <h6 class="text-start"><%= videogameDetail.description %></h6>
        <div class="d-flex flex-row justify-content-center gap-4">
            <p>Price: $<%= videogameDetail.price %></p>
            <p>Stock: <%= videogameDetail.stock %> Units</p>
        </div>
        <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
        <button class="btn btn-primary"><i class="bi bi-pen"></i></button>
    </div>
  </div>
<%- include('partials/footer') %>
